# Note: If we require a beta version of gmxapi, pip must be called with
#     pip install --pre -r requirements.txt
gmxapi>=0.3.1
jupyter
mpi4py
numpy
pip
git+https://github.com/radical-cybertools/radical.pilot.git@feature/raptor_api_2#egg=radical.pilot
git+https://github.com/SCALE-MS/scale-ms.git@sms253-devel
